* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(90, 86, 86);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  display: none;
}

.menu-links {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon span {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  display: block;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger-menu.open {
  display: block;
}

/* Ajoutez du style pour chaque section */
section {
  margin: 20px 0;
}

h2 {
  color: #227032;
}

footer {
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

.section {
  background-color: #ecf0f1;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: center;
}

.section__pic-container {
  margin-left: auto;
}

.about-text {
  flex: 1;
}
/* Ajoutez ces styles pour colorer l'e-mail et le lien LinkedIn dans la section "Contact" */
#contact a {
  color: #426a84; /* Couleur pour les liens */
}

#contact a:hover {
  color: #426a84; /* Couleur au survol des liens */
}
h3 {
  color: #489dd1; /* Change the color to your preference */
  border-bottom: 2px solid #489dd1; /* Add a bottom border */
  padding-bottom: 5px; /* Adjust the spacing as needed */
  margin-top: 20px; /* Adjust the spacing as needed */
}

h3:first-child {
  margin-top: 0; /* Remove top margin for the first h3 element */
}
#contact div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #23272b;
}

footer {
  text-align: center;
  background-color: #343a40;
  color: white;
  padding: 20px;
}

footer img {
  width: 100px;
  height: auto;
}
